{% extends "app_stats/layout/base.html" %}

{% block content %}
<h2 Style="margin-top:-20px;">Profile</h2>
<hr/>
<div id="ember2844" class="Elevation-2dp profile-background-image profile-background-image--loading ember-view">
</div>
<div id="ember2853" class="ember-view">
    <section id="ember2858" class="pv-profile-section pv-top-card-section artdeco-container-card ember-view">
        <div class="pv-top-card-section__profile-photo-container">
            <div class="pv-top-card-section__photo-wrapper EntityPhoto-circle-8">
                <label for="member-photo-edit-upload-input" class="visually-hidden">
                    "Profile photo"
                </label>
                <div class="pv-top-card-section__edit-photo profile-photo-edit ember-view">
                    <button data-control-name="edit_profile_photo" class="profile-photo-edit__edit-btn" data-ember-action data-ember-action-2888="2888">
                        <img src="https://media-exp1.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAP9AAAAJDU5M2Y4N2RlLTQxZmYtNDhhYy04ODA0LWVmMjg0NzMwMGRmNg.jpg" class="profile-photo-edit__preview" alt="Edit photo" height="128" width="128">
                    </button>
                </div>
            </div>
        </div>
        <div class="pv-top-card-section__body">
            <div class="pv-top-card-section__body">
                <div id="ember2909" class="pv-top-card-section__information mt3 ember-view">
                    <div class="display-flex align-items-center justify-center">
                        <h1 class="pv-top-card-section__name Sans-26px-black-85%">{{name}}</h1>
                    </div>

                    <div class="container" align="center">
                        <div class="row">
                            <div class="col-xs-6">
                                <h2 id="profile-left" class="pv-top-card-section__headline Sans-19px-black-85%">Birthday:</h2>
                            </div>
                            <div class="col-xs-6">
                                <h2 style="text-align: left" class="pv-top-card-section__headline Sans-19px-black-85%" Style="text-align:left; padding-left:25%;">{{birthday}}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h2 id="profile-left" class="pv-top-card-section__headline Sans-19px-black-85%">Gender:</h2>
                            </div>
                            <div class="col-xs-6">
                                <h2 style="text-align: left" class="pv-top-card-section__headline Sans-19px-black-85%" Style="text-align:left; padding-left:25%;">{{gender}}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h2 id="profile-left" class="pv-top-card-section__headline Sans-19px-black-85%">Expertise:</h2>
                            </div>
                            <div class="col-xs-6">
                                <h2 style="text-align: left" class="pv-top-card-section__headline Sans-19px-black-85%" Style="text-align:left; padding-left:25%;">{{expertise}}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h2 id="profile-left" class="pv-top-card-section__headline Sans-19px-black-85%">Description:</h2>
                            </div>
                            <div class="col-xs-6">
                                <h2 style="text-align: left" class="pv-top-card-section__headline Sans-19px-black-85%" Style="text-align:left; padding-left:25%;">{{description}}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h2 id="profile-left" class="pv-top-card-section__headline Sans-19px-black-85%">E-mail:</h2>
                            </div>
                            <div class="col-xs-6">
                                <h2 style="text-align: left" class="pv-top-card-section__headline Sans-19px-black-85%" Style="text-align:left; padding-left:25%;">{{email}}</h2>
                            </div>
                        </div>
                    </div>

                <div id="ember2914" class="pv-top-card-section__summary ember-view"><!----></div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
