{% extends "app_stats/layout/base.html" %}
{% block content %}

<h2 style="margin-top:-20px;">Add Friend</h2>
<hr/>
<section name="add-friend-list" id = "add-friend-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'app-add-friend:Add_New_Friend' %}">
            {% csrf_token %}
            {% for field in add_friend_form %}
            {{ field.label_tag }}
            <p>{{ field }}</p>
            {% endfor %}
            <br> 
            <input style="margin-left:1000px" class="btn1 btn-lg btn-info" id="submit" type="submit" value="Add Friend" >
        </form>
    </div>

<h2 style="margin-top:-20px;">List Friend</h2>
<table class="table">
    <thead>
        <th>Names</th>
        <th>URL</th>
        <th>Dates</th>
    </thead>
    <tbody>
        {% for i in add_friend reversed %}
        <td> {{i.name}} </td>
        <td> <a href="{{i.url}}" > {{i.url}} </a></td>
        <td> {{i.created_date}} </td>
        </tr>             
        {% endfor %}
    </tbody>
</table>

{% endblock %}