.profile-background-image--loading{
    background: url("/static/img/bg-profile.jpg");
}

.profile-background-image{
    position: relative;
    width: 100%;
    padding-bottom: 25%;
}

.Elevation-2dp{
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}

.artdeco-container-card:last-child{
    margin-bottom: 0;
}

.pv-top-card-section{
    z-index: 2;
}

.artdeco-container-card{
    padding: 24px;
    word-wrap: break-word;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    display: block;
    background-color: #fff;
    border-radius: 2px;
    position: relative;
    list-style: none;
}

.pv-top-card-section__profile-photo-container{
    margin: -96px auto 0;
    position: relative;
    width: 200px;
}

.pv-top-card-section__photo-wrapper{
    background-color: rgba(243,246,248,.94);
    border: 4px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
    box-sizing: content-box;
    margin: auto;
    position: relative;
}

.profile-photo-edit{
    position: relative;;
    background-color: #e6e9ec;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profile-photo-edit__edit-btn{
    line-height: 0;
    margin: 0;
}

.EntityPhoto-circle-8{
    width: 128px;
    height: 128px;
    background-clip: content-box;
    border-radius: 49.9%;
}

.pv-top-card-section__body{
    position:relative;
    text-align: center;
}

.pv-top-card-section__headline{
    margin-bottom: 2px;
}

.pv-top-card-section__name{
    font-weight: 400;
    margin-bottom: 2px;
}
.mt3{
    margin-top:12px;
}

.justify-center{
    justify-content: center;
}

.display-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.Sans-19px-black-85\%{
    line-height: 24px;
    font-weight: 400;
    font-size: 19px;
    color: rgba(0,0,0,.85);
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif,Hiragino Kaku Gothic Pro,Meiryo,Hiragino Sans GB W3,Noto Naskh Arabic,Droid Arabic Naskh,Geeza Pro,Simplified Arabic,Noto Sans Thai,Thonburi,Dokchampa,Droid Sans Thai,Droid Sans Fallback,-apple-system,'.SFNSDisplay-Regular',Heiti SC,Microsoft Yahei,Segoe UI;
}

.Sans-26px-black-85\%{
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif,Hiragino Kaku Gothic Pro,Meiryo,Hiragino Sans GB W3,Noto Naskh Arabic,Droid Arabic Naskh,Geeza Pro,Simplified Arabic,Noto Sans Thai,Thonburi,Dokchampa,Droid Sans Thai,Droid Sans Fallback,-apple-system,'.SFNSDisplay-Regular',Heiti SC,Microsoft Yahei,Segoe UI;
    line-height: 32px;
    color: rgba(0,0,0,.85);
    font-size: 26px;
}

.profile-photo-edit__preview{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.visually-hidden{
    display: block;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.mb1{
    margin-bottom: 4px;
}
.Sans-17px-black-70\%{
    line-height: 24px;
    font-size:17px;
    color: rgba(0,0,0,.7);
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif,Hiragino Kaku Gothic Pro,Meiryo,Hiragino Sans GB W3,Noto Naskh Arabic,Droid Arabic Naskh,Geeza Pro,Simplified Arabic,Noto Sans Thai,Thonburi,Dokchampa,Droid Sans Thai,Droid Sans Fallback,-apple-system,'.SFNSDisplay-Regular',Heiti SC,Microsoft Yahei,Segoe UI;
    font-weight: 400;
}

.Sans-13px-black-60\%{
    line-height: 24px;
    font-size:13px;
    color: rgba(0,0,0,.6);
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif,Hiragino Kaku Gothic Pro,Meiryo,Hiragino Sans GB W3,Noto Naskh Arabic,Droid Arabic Naskh,Geeza Pro,Simplified Arabic,Noto Sans Thai,Thonburi,Dokchampa,Droid Sans Thai,Droid Sans Fallback,-apple-system,'.SFNSDisplay-Regular',Heiti SC,Microsoft Yahei,Segoe UI;
    font-weight: 400;
}

.footer-nowhitespace{
    margin-top :50px;
    padding-top:10px;
    padding-left:60px;
    padding-right:30px;
    padding-bottom:10px;
    background-color: #DDDDDD;
}
#text-left{
    text-align: left;
}
#text-right{
    text-align: right;
}

#profile-left{
    text-align: left;
    padding-left: 60%;
}


h1{
    display: block;
}
h2{
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h3{
    vertical-align: baseline;
    background: 0 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
button{
    background: 0 0;
    border: none;
    padding: 0;
    cursor: pointer;
    touch-action:manipulation;
    font-size: 1.45rem;
    font-family: inherit;
    -webkit-appearance:button;
    text-transform: none;
    overflow: visible;
}
label{
    line-height: 20px;
    font-weight: 400;
    color: rgba(0,0,0,.7);
}
section{
    font-size: 100%;
    vertical-align: baseline;
}
div{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    line-height: 20px;
    font-weight: 400;
    color: rgba(0,0,0,.7);
    font-size: 17px;
}

body, html body{
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif,Hiragino Kaku Gothic Pro,Meiryo,Hiragino Sans GB W3,Noto Naskh Arabic,Droid Arabic Naskh,Geeza Pro,Simplified Arabic,Noto Sans Thai,Thonburi,Dokchampa,Droid Sans Thai,Droid Sans Fallback,-apple-system,'.SFNSDisplay-Regular',Heiti SC,Microsoft Yahei,Segoe UI;

}

html{
    rgba(0,0,0,0);
}

@media(max-width:768px) {
   .navbar-collapse {
        width: auto;
    /* more code here */
    }
    #profile-left{
        padding-left: 30%;
    }
}

@media(max-width:510px){
    .Sans-19px-black-85%{
        font-size: 13px;
    }
    #profile-left{
        padding-left: 25%;
    }
}

@media(max-width:1200px) {
    #profile-left{
        padding-left: 45%;
    }
}