{% extends "app_stats/layout/base.html" %}

{% block content %}
<h2 style="margin-top: -20px">Statistics</h2>
<hr>
<div id="ember2844" class="Elevation-2dp profile-background-image profile-background-image--loading ember-view">
</div>
<div id="ember2853" class="ember-view">
    <section id="ember2858" class="pv-profile-section pv-top-card-section artdeco-container-card ember-view">
        <div class="pv-top-card-section__profile-photo-container">
            <div class="pv-top-card-section__photo-wrapper EntityPhoto-circle-8">
                <label for="member-photo-edit-upload-input" class="visually-hidden">
                    "Profile photo"
                </label>
                <div class="pv-top-card-section__edit-photo profile-photo-edit ember-view">
                    <button data-control-name="edit_profile_photo" class="profile-photo-edit__edit-btn" data-ember-action data-ember-action-2888="2888">
                        <img src="https://media-exp1.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAP9AAAAJDU5M2Y4N2RlLTQxZmYtNDhhYy04ODA0LWVmMjg0NzMwMGRmNg.jpg" class="profile-photo-edit__preview" alt="Edit photo" height="128" width="128">
                    </button>
                </div>
            </div>
        </div>
        <div class="pv-top-card-section__body">
            <div class="pv-top-card-section__body">
                <div id="ember2909" class="pv-top-card-section__information mt3 ember-view">
                    <div class="display-flex align-items-center justify-center">
                        <h1 class="pv-top-card-section__name Sans-26px-black-85%">{{name}}</h1>
                    </div>
                    <!--Friends and Post-->
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2 id="text-left" class="pv-top-card-section__headline Sans-19px-black-85%">Friends: {{number_of_friends}}</h2>
                                </div>
                                <div class="col-xs-6">
                                    <h2 id="text-right" class="pv-top-card-section__headline Sans-19px-black-85%">Posts: {{number_of_posts}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Latest post title-->
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h2 id="text-left" class="pv-top-card-section__headline Sans-19px-black-85%">Latest Post:</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Latest post-->
                    <div class="row" style="margin-top: 5px">
                        <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="background-color:#edf3ff; padding-top: 5px; padding-bottom: 5px">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3 class="pv-top-card-section__school  Sans-17px-black-70% mb1 inline">{{latest}}</h3>
                                    </div>
                                </div>
                                <div class="row" style="text-align:left; padding-top:5px">
                                    <div class="col-sm-12">
                                        <h3 class="pv-top-card-section__school  Sans-13px-black-60% mb1 inline" style="text-align:left">{{latest.created_date}}</h3>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="ember2914" class="pv-top-card-section__summary ember-view"><!----></div>
            </div>
        </div>
    </section>
</div>
{% endblock %}