{% load static %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img alt="logo" class="title-nav" src="{% static 'img/nav-icon.png' %}" width="100px" height="30px"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li id="status"><a href="/status/">Status</a></li>
                <li id="profile"><a href="/profile/">Profile</a></li>
                <li id="add-friend"><a href="/add-friend/">Friends</a></li>
                <li id="stats" class="active"><a href="/stats/">Stats</a></li>
            </ul>
        </div>
    </div>
</nav>

<script>
    $('a').parents('li,ul').removeClass('active');
    $('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
</script>