{% extends "app_stats/layout/base.html" %}

{% block content %}

<h2>Status</h2>
<hr>
<section name="form">
    <form id="form" method="POST" action="{% url 'app-status:update_status' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="update" class="btn btn-default">Update</button>
    </form>
</section>
<hr>
<section name="post" id="post">
    <div class="container">
        <h2 class="post-title">Posts</h2>
        <div class="flex">
            {% if message %}
                {% for data in message reversed%}
                    <div class="flex-item">
                        <div class="show-post">
                            <div class="show-post-message">
                                <h4>Para Pengabdi Beskem</h4>
                            </div>
							<div class="show-post-message">
                                {{data.message}}
                            </div>
                            <div class="show-post-date-added">
                                {{data.created_date}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> There are no data.
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}